<div class="jumbotron">
    <h1>Lucene/Swagger Example</h1>
    <p class="lead">Lucene Indexing/Swagger Example</p>
    <p><a href="swagger/ui/index#!/Index" class="btn btn-primary btn-lg">Swagger API &raquo;</a></p>
</div>

